<p class="login-box-msg">
  <%= t('devise.registrations.new.admin_sign_up') %>
</p>
<%= simple_form_for(resource, as: resource_name,
                    url: registration_path(resource_name),
                    wrapper: :auth_form) do |f| %>
  <%= devise_error_messages! %>
  <%= f.input :admin, as: :hidden %>
  <%= f.input :shop_owner, as: :hidden %>
  <%= f.input :guest, as: :hidden %>
  <%= f.input :name, placeholder: t('activerecord.attributes.user.name'),
              autofocus: true,
              required: true,
              field_icon_html: {
                class: 'glyphicon glyphicon-user form-control-feedback'
              } %>
  <%= f.input :last_name,
              placeholder: t('activerecord.attributes.user.last_name'),
              required: true,
              field_icon_html: {
                class: 'glyphicon glyphicon-user form-control-feedback'
              } %>
  <%= f.input :birthday,
              placeholder: t('activerecord.attributes.user.birthday'),
              required: true,
              as: :string,
              field_icon_html: {
                class: 'glyphicon glyphicon-gift form-control-feedback'
              } %>
  <%= f.input :email,
              placeholder: 'Email',
              required: true,
              field_icon_html: {
                class: 'glyphicon glyphicon-envelope form-control-feedback'
              } %>
  <%= f.input :password,
              placeholder: t('activerecord.attributes.user.password'),
              required: true,
              field_icon_html: {
                class: 'glyphicon glyphicon-lock form-control-feedback'
              } %>
  <%= f.input :password_confirmation,
              placeholder:
                t('activerecord.attributes.user.password_confirmation'),
              required: true,
              field_icon_html: {
                class: 'glyphicon glyphicon-log-in form-control-feedback'
              } %>
  <%= f.simple_fields_for :avatar, resource.build_avatar do |ph| %>
      <%= ph.input :image, as: :file, required: true %>
  <% end %>
  <%= f.simple_fields_for :passport, resource.build_passport do |pass| %>
    <%= pass.input :image, as: :file, required: true %>
  <% end %>

  <div class="row">
    <div class="col-xs-5 col-xs-offset-7">
      <%= f.submit t('.sign_up'),
                   class: 'btn btn-primary btn-block btn-flat',
                   id: 'sign_up_submit_btn' %>
    </div><!-- /.col -->
  </div><!-- /.row -->

<% end %>