<%= simple_form_for(resource, as: resource_name,
                    url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <%= f.input :guest, as: :hidden %>
  <%= f.input :email, required: true,
              class: 'form-control' %>
  <%= f.input :password,  required: true,
              class: 'form-control' %>
  <%= f.input :password_confirmation,  required: true,
              class: 'form-control' %>
  <div class="row">
    <div class="col-xs-5 col-xs-offset-7">
      <%= f.submit t('.sign_up'),
                   class: 'btn btn-primary btn-block btn-flat',
                   id: 'sign_up_submit_btn' %>
    </div><!-- /.col -->
  </div><!-- /.row -->

<% end %>