<div class="login-box">
  <div class="login-logo">
    <a href="/"><b>Skill</b>grid</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg"><%= t('.sign_up', default: 'Sign up') %></p>

    <%= simple_form_for(resource, as: resource_name,
                        url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <%= f.input :name,  autofocus: true,
                  class: 'form-control' %>
      <%= f.input :email, required: true,
                  class: 'form-control' %>
      <%= f.input :password,  required: true,
                  class: 'form-control' %>
      <%= f.input :password_confirmation,  required: true,
                  class: 'form-control' %>
      <div class="row">
        <div class="col-xs-5 col-xs-offset-7">
          <%= f.submit t('.sign_up', default: 'Sign up'),
                       class: 'btn btn-primary btn-block btn-flat',
                       id: 'sign_up_submit_btn' %>
        </div><!-- /.col -->
      </div><!-- /.row -->

    <% end %>

    <%= render 'devise/shared/links' %>

  </div>
  <!-- /.login-box-body -->
</div>


