<!-- Main content -->
<section class="content">
  <%= render partial: 'layouts/flash_messages', flash: flash %>

  <div class="login-box">
    <div class="login-logo">
      <a href="/"><b>Skill</b>grid</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg"><%= t('.sign_up') %></p>

      <% if resource.admin.present? %>
        <%= render partial: 'admin_form' %>
      <% else %>
        <%= render partial: 'guest_form' %>
      <% end %>

      <%= render 'devise/shared/links' %>

    </div>
    <!-- /.login-box-body -->
  </div>
</section>


