<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    <%= t('control_panel.captions.products_all') %>
  </h1>
  <ol class="breadcrumb">
    <li class="active">
      <%= link_to t('control_panel.captions.products_all'),
                  control_panel_products_path %>
    </li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <% unless flash.empty? %>
    <div class="row">
      <div class="col-xs-12">
        <%= render partial: 'layouts/flash_messages', flash: flash %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">
            <%= t('control_panel.box_titles.admin_products_list') %>
          </h3>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-sm-12">
              <table id="control-panel-products-table"
                     class="table table-striped table-bordered">
                <thead>
                <tr role="row">
                  <th>
                    <%= t('control_panel.tables.admin_products.headers.id') %>
                  </th>
                  <th>
                    <%= t('control_panel.tables.admin_products.headers.title') %>
                  </th>
                  <th>
                    <%= t('control_panel.tables.admin_products.headers.description') %>
                  </th>
                  <th>
                    <%= t('control_panel.tables.admin_products.headers.update_date') %>
                  </th>
                  <th>
                    <%= t('control_panel.tables.admin_products.headers.photo') %>
                  </th>
                  <th>
                    <%= t('control_panel.tables.admin_products.headers.actions') %>
                  </th>
                </tr>
                </thead>
                <tbody>
                <% if @products.blank? %>
                  <tr>
                    <td colspan="6">
                      <%= t('table.no_data') %>
                    </td>
                  </tr>
                <% else %>
                  <% @products.each do |product| %>
                    <tr>
                      <td><%= product.id %></td>
                      <td><%= product.title %></td>
                      <td><%= product.description %></td>
                      <td>
                        <%= I18n.l(product.updated_at, format: :long) %>
                      </td>
                      <td>
                        <% if product.photo.present? &&
                              product.photo.image_stored? %>
                          <%= link_to(product.photo.image.url,
                                      class: 'btn btn-success btn-flat',
                                      target: '_blank') do %>
                            <i class="fa fa-image"></i>
                          <% end %>
                        <% else %>
                          Нет
                        <% end %>
                      </td>
                      <td>
                        <span>
                          <%= link_to(edit_control_panel_product_path(product.id),
                                      class: 'btn btn-primary btn-flat',
                                      id: "product_#{product.id}_edit") do %>
                            <i class="fa fa-edit"></i>
                          <% end %>
                        </span>
                        <span>
                          <%= link_to({ action: 'destroy',
                                        id: product.id },
                                      method: :delete,
                                      class: 'btn btn-danger btn-flat',
                                      id: "product_#{product.id}_del") do %>
                            <i class="fa fa-trash"></i>
                          <% end %>
                        </span>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row text-center">
            <div class="col-lg-12">
              <%= will_paginate @products,
                                renderer: BootstrapPagination::Rails %>
            </div>
          </div>
        </div><!-- /.box-body -->
      </div>
    </div>
  </div>
</section><!-- /.content -->