<div class="panel panel-default">
  <div class="panel-heading">
    <h4><%= t('.sign_in', default: 'Sign in') %></h4>
  </div>
  <div class="panel-body">
    <%= simple_form_for(resource, as: resource_name,
                                  url: session_path(resource_name)) do |f| %>

      <%= f.input :email,
                  class: 'form-control' %>
      <%= f.input :password,
                  class: 'form-control' %>
      <% if devise_mapping.rememberable? %>
        <div class="checkbox icheck">
          <%= f.input :remember_me, as: :boolean %>
        </div>
      <% end %>
      <%= f.submit  t('.sign_in', default: 'Sign in'),
                    class: 'btn btn-primary',
                    id: 'sign_in_submit_btn' %>
      </div>
    <% end %>
  </div>
<%= render 'devise/shared/links' %>

