<div class="row">
  <!-- right column -->
  <div class="col-md-12">
    <!-- Horizontal Form -->
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">
          <%= t('control_panel.captions.product_show') %>
        </h3>
      </div><!-- /.box-header -->
      <!-- form start -->
      <%= simple_form_for [:admin, @product],
                          html: { class: 'form-horizontal' },
                          wrapper: :horizontal_form do |f| %>
        <div class="box-body">
          <%= f.error_notification %>

          <%= f.input :title, autofocus: true, class: 'form-control' %>
          <%= f.input :description, class: 'form-control' %>
          <%= f.simple_fields_for :photo, @product.photo do |ph| %>
            <% if @product.photo.persisted? && @product.photo.present? &&
                                            @product.photo.image_stored? %>
              <div class="form-group">
                <div class="col-xs-offset-3 col-xs-9">
                  <%= image_tag @product.photo.image.thumb('200x100').url %>
                </div>
              </div>
              <%= ph.input :remove_image, as: :boolean,
                           wrapper: :horizontal_file_input %>

            <% else %>
              <%= ph.input :image, as: :file,
                           wrapper: :horizontal_file_input %>
            <% end %>
          <% end %>
        </div><!-- /.box-body -->
        <div class="box-footer">
          <%= f.submit class: 'btn btn-flat btn-info pull-right',
                       id: "#{ params[:action] }_product_submit"%>
        </div>
      <% end %>
    </div><!-- /.box -->
  </div><!-- /.col-md-12 -->
</div><!-- /.row -->