<h1 class="page-header">Список продуктов</h1>
<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-12">
        <%= link_to(new_admin_product_path, class: 'btn btn-primary pull-right',
                                            id: 'new_product') do %>
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          Новый продукт
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <table id="admin-products-table"
               class="table table-striped table-bordered">
          <thead>
          <tr role="row">
            <th>Дата изменения</th>
            <th>Фото</th>
            <th>Заголовок</th>
            <th>Описание</th>
            <th>Действия</th>
          </tr>
          </thead>
          <tbody>
          <% if @products.blank? %>
            <tr>
              <td colspan="5">Нет данных</td>
            </tr>
          <% else %>
            <% @products.each do |product| %>
              <tr>
                <td><%= I18n.l(product.updated_at, format: :long) %></td>
                <td>
                  <% if product.photo.present? && product.photo.image_stored? %>
                    <%= image_tag product.photo.image.thumb('200x100').url %>
                  <% end %>
                </td>
                <td><%= product.title %></td>
                <td><%= product.description %></td>
                <td>
                  <span>
                    <%= link_to 'Редактировать',
                                edit_admin_product_path(product.id),
                                id: "product_#{product.id}_edit" %>
                  </span>
                  <span>
                    <%= link_to 'Удалить', { action: 'destroy',
                                             id: product.id },
                                method: :delete,
                                id: "product_#{product.id}_del" %>
                  </span>
                </td>
              </tr>
            <% end %>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>