<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    <%= t('pages.captions.product_new') %>
  </h1>
  <ol class="breadcrumb">
    <li>
      <%= link_to t('pages.captions.products_all'),
                  products_path %>
    </li>
    <li class="active">
      <%= link_to t('pages.captions.product_new'),
                  new_product_path %>
    </li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <%= render partial: 'layouts/flash_messages', flash: flash %>
  <%= render partial: 'products/product_form' %>
</section><!-- /.content -->
