<section class="content-header">
  <h1>
    <%= t('pages.products.show.header') %>
    <small><%= @product.title %></small>
  </h1>
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="thumbnail">
        <!-- IMAGE CONTAINER-->
        <div class="row">
          <div class="col-md-4">
            <% if @product.photo.present? && @product.photo.image_stored? %>
              <%= image_tag @product.photo.image.thumb('320x').url,
                            class: 'img-responsive product-photo' %>
            <% else %>
              <img class="img-responsive product-photo"
                   src="http://placehold.it/320x180">
            <% end %>
          </div>
          <!--END IMAGE CONTAINER-->
          <!-- CAPTION -->
          <div class="col-md-8">
            <div class="caption">
              <h3 class=""><%= @product.title %></h3>
              <p class=""><%= @product.description %></p>
              <div class="row">
                <div class="col-xs-6">
                  <p class="product-price">21 000 руб.</p>
                </div>
              </div>
            </div>
            <!--END CAPTION -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr/>
</section>