<section class="content-header">
  <h1>
    <%= t('pages.products.show.header') %>
    <small><%= @product.title %></small>
  </h1>
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">
            <%= t('pages.box_titles.product_desc') %>
          </h3>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-2">
                  <h3 class="product-price">20 000 руб.</h3>
                </div>
                <div class="col-xs-6">
                  <h3>
                    <%= link_to(@product.title, product_path(@product.id),
                                id: "product_#{@product.id}_show") %>
                  </h3>
                  <p><%= @product.description %></p>
                </div>
                <div class="col-xs-4">
                  <% if @product.photo.present? && @product.photo.image_stored? %>
                    <%= image_tag @product.photo.image.url,
                                  class: 'img-responsive product-photo' %>
                  <% else %>
                    <img class="img-responsive product-photo"
                         src="http://placehold.it/200x200">
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr/>
</section>