<!DOCTYPE html>
<html>
  <head>
    <title>Skillgrid</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1,
                   user-scalable=no" name="viewport">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
   </head>

  <% if !!current_user %>
    <body class="login-page skin-blue sidebar-mini">
      <%= render layout: 'layouts/control_panel/page' do %>
        <%= yield %>
      <% end %>
    </body>
  <% else %>
    <body class="skin-blue layout-top-nav">
      <%= render layout: 'layouts/page' do %>
        <%= yield %>
      <% end %>
    </body>
  <% end %>

</html>
