<!DOCTYPE html>
<html>
  <head>
    <title>Skillgrid</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1,
                   user-scalable=no" name="viewport">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
   </head>
  <body>
    <%= render partial: 'layouts/header' %>
    <!-- Begin page content -->
    <div class="container">
      <% unless flash.empty? %>
        <div class="row">
          <div class="col-xs-12">
            <%= render partial: 'layouts/flash_messages', flash: flash %>
          </div>
        </div>
      <% end %>
      <div class="row row-offcanvas row-offcanvas-left">
        <%= render partial: 'layouts/sidebar' %>
        <!-- main area -->
        <div class="col-xs-12 col-sm-9">
          <%= yield %>
        </div><!-- /.col-xs-12 main -->
      </div><!--/.row-->
    </div><!--/.container-->
    <%= render partial: 'layouts/footer' %>
  </body>
</html>
